*{
    margin: 0;
    padding: 0;
}
.container,nav,footer{
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

section,nav,footer{
    background-color: #ededed;
    box-sizing: border-box;
    border-radius: 5px;
    border: dodgerblue 1px solid;
    width: 100%;
}
section{
    display: inline-flex;
    flex-flow: row;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
}
header,footer {
    margin-top: 5px;
    height: 50px;
}
footer {
    height: 30px;
}
section {
    padding: 20px;
    margin-top: 50px;
}
.current_user{
    margin: 10px 0;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
    position: absolute;
    right: 200px;
    padding: 5px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
h1,h2{
    color: #1864b7;
    text-indent: 20px;
    margin: 15px 0;
    font-family: 'Fira Sans', sans-serif;
}
h3{
    color: #1864b7;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
}
input[type="submit"]{
    padding: 3px 5px;
    box-shadow: 0 1px 2px rgba(27,31,35,.075);
    cursor: pointer;

}
input[type="text"],select{
    height: 23px;
}

/*Menu*/
nav{
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.main_menu,.auth_menu{
    list-style: none;
    padding: 5px;

}
.main_menu li{
    margin: 0 15px ;
}
.main_menu li,.auth_menu li{
    display: inline-block;
}
.main_menu a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.main_menu a:hover,.auth_menu a:hover{
    color: #165eac;
}

.auth_menu>li:last-child{
    margin-left: 10px;
}
.small_avatar{
    width: 25px;
    height: 25px;
}

/*Aside*/

aside{
    width: 150px;
    padding: 10px 15px;
    background-color: #e9e9e9;
    display: inline-block;
    flex-grow: 2;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}

ul{
    list-style: none;
}
aside ul li{
    height: 20px;
    margin-bottom: 10px;
}
aside a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Laila', serif;
}
aside a:hover {
    color: darkblue;
}

    /*Gists*/

.main_content   {
    width: 760px;
    flex-grow: 2;
    display: inline-block;
    flex-flow: column;
    margin-left: 10px;
    background-color: #e9e9e9;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
    box-sizing: border-box;
}
.about_resource{
    width: 100%;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    box-sizing: border-box;
    padding: 25px 5px;
    border-radius: 5px;
    font-family: 'Righteous', cursive;
    font-size: x-large;
    color: #229aee;
    background-color: #fff;
    text-align: center;
}
.gists{
    width: 100%;
    display: inline-flex;
    flex-flow: column;
}
.full_info_container{
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: inset 1px 1px 1px 0 rgba(107,107,107,1);
    margin-top: 10px;
    border-radius: 5px;
}
.filter{
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-shadow: inset 1px 1px 1px 0 rgba(107,107,107,1);
    margin-top: 10px;
    border-radius: 5px;

}
.filter>form{
    display: inline-flex;
    flex-flow: row nowrap;
}
.filter>form>input{
    margin-left: 10px;
}
.filter>form>label{
    line-height: 25px;
    margin-right: -3px;
}
.upic{
    margin-top: 15px;
    display: inline-flex;
    margin-right: 5px;
}
.large_avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.gist_container{
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    display: inline-flex;
    flex-flow: column nowrap;

}
.large_avatar{
    width: 100px;
    height: 100px;
}

.gist_name{
    text-decoration: none;
    margin-bottom: 10px;
    font-size: large;
    color: #2542a4;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.gist_desc{
    font-family: 'PT Sans', sans-serif;
    margin: 5px 0;
    text-indent: 10px;
}
.gist_files{
    display: inline-flex;
    flex-flow: column nowrap;
}
.gist_file{
    text-decoration: none;
}
.gist_author{
    margin: 5px 0px;
    color: #1a72ce;
}
.gist_author>a{
    text-decoration: none;
    color: #1a72ce;
}
.gist_author>a:hover{
    color: rebeccapurple;
    font-weight: bolder;
}
.gist_date{
    margin: 5px 0px;
    color: #1a72ce;
    font-size: small;
}
.del{
    color: red;
    text-align: right;
}
.file_count{
    margin-top: 5px;
    color: #2a9055;
    text-align: right;
    font-size: small;
    font-weight: bold;
}

    /*Add gist*/

.add_new{
    margin: 5px 0;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: inset 1px 1px 1px 0px rgba(107,107,107,1);
    display: inline-flex;
    flex-flow: column nowrap;
    border-radius: 5px;
    box-sizing: border-box;
}
.add_new>form{
    display: inline-flex;
    flex-flow: column nowrap;
}
.add_new_p{
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 5px;
}
.add_new input[type="submit"]{
    width: 100px;

}

input,select{
    margin: 5px 0;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
label{
    margin: 5px 5px;
}
select,input[name="Add post"]{
    width: 200px;
}

    /*Show gist*/

.show_gist_container{
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    box-sizing: border-box;
}

    /*File table*/

caption{
    margin: 5px;
    color: #1a72ce;
    font-size: larger;
}
tr{
    height: 33px;
}
td{
    border: 1px solid #e4e4e4;
    padding-left: 5px;
    border-radius: 3px;
}
td:nth-child(even){
    width: 60px;
    border: none;
}

    /*Show file*/
.buttons{
    margin-bottom: 5px;
}

    /*Edit file*/
textarea[name="edit_file"]{
    width: 100%;
}

.back, .edit_button{
    text-align: center;
    width: 100px;
    padding: 2px 5px;
    border: #1a72ce 1px solid;
    border-radius: 2px;
    text-decoration: none;
    color: #325ff9;
    margin-bottom: 5px;
}
.back:hover{
    color: #8594ff;
    border: #8594ff 1px solid;
}

    /*Comments*/

.post_comment_amount{
    color: #1a72ce;
    margin-top: 10px;
    font-size: small;
}
.comments{
    margin-top: 15px;
}
.comment{
    border: #1a72ce 1px dotted;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    flex-flow: row nowrap;
}
.comment_desc{
    width: 900px;
}
.comment_delete{
    display: inline-block;
}

form>div{
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

    /* Login_register */

.login_register_container{
    display: inline-flex;
    flex-flow: column;
}
.container_heading{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.validation_error{
    color: red;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.login_register_form{
    display: inline-flex;
    flex-flow: column nowrap;
}
.login_register_form label,a{
    font-family: 'Dosis', sans-serif;
}
.login_register_form button{
    width: 100px;
    margin-bottom: 5px;
}
.remember_me{
    margin: 5px 0;
}

    /*Home*/

.login_success{
    width: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;

}
.login_success>div{
    margin: auto;
    padding: 10px;
    font-family: 'Laila', serif;
    font-size: large;
    background-color: #ededed;
    margin-bottom: 2px;
    border: 1px white solid;
    border-radius: 5px;
}
.login_success>div>a{
    font-family: 'Laila', serif;
}

    /*Profile*/

.main_profile_content{
    width: 100%;
    display: inline-block;
    flex-flow: column;
    background-color: #e9e9e9;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
    box-sizing: border-box;
}

    /*Admin*/

.main_admin_content{
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #e9e9e9;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
    box-sizing: border-box;
}

.admin_block{
    width: 50%;
    display: inline-flex;
    flex-flow: column;
    padding: 10px;
    box-sizing: border-box;
}

.admin_block form{
    display: inline-flex;
    flex-flow: column;
}
.admin_block form input[type='submit']{
    width: 150px;
}

.found_user_table{
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}
.found_user_table td{
    border: #1a72ce 1px solid;
    padding: 2px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}
.found_user_table th{
    border: #1a72ce 1px solid;
    padding: 2px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}
.col_login{
    width: 30%;
}
.col_email{
    width: 50%;
}
.col_status{
    width: 20%;
}
.found_user_action{
    display: inline-flex;
    flex-flow: row nowrap;
}

    /*Pagination*/

.pagination{
    text-align: center;
    margin-top: 10px;
}

.pagination>li{
    display: inline-flex;
    margin-right: 5px;
}
.pagination>li>a{
    color: #165eac;
}

    /*Error pages*/

.page_error{
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.page_error_text{
    text-align:center;
    font-size: larger;
    font-family: 'Laila', serif;
    color: #f94d44;
}
.page_error_main{
    text-align:center;
    width: 100%;
}


